Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

ruff:
  name: ruff
  description: Run 'ruff' for extremely fast Python linting
  entry: poetry run ruff check
  language: system
  args:
  - --fix
  require_serial: false
  additional_dependencies: []
  minimum_pre_commit_version: '0'

mdbook-test:
  name: mdbook test
  description: Checks mdBook pass tests.
  entry: mdbook test
  language: rust
  minimum_pre_commit_version: 3.2.0
  additional_dependencies: []
  pass_filenames: false

ci: reject project version bump if not from release branch
  .github/workflows/xgov-beta-sc-ci.yml
Due: none

chore: spendable and available funds
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: nit
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

chore: skip docs validation for dependabot pr
  .github/workflows/docs-ci.yaml
Due: none

chore: use user.login instead of github.actor to detect dependabot
  .github/workflows/docs-ci.yaml
Due: none

chore: just skip dependabot docs validation
  .github/workflows/docs-ci.yaml
Due: none

chore: mark skipped as passed
  .github/workflows/docs-ci.yaml
Due: none

bump(ver): v3.1.0
  pyproject.toml
Due: none

ci: run other jobs if check-version is skipped
  .github/workflows/xgov-beta-sc-ci.yml
Due: none

chore: add get_available_funds; rename withdraw_balance to withdraw_available_funds
  smart_contracts/interfaces/xgov_registry.py
  smart_contracts/xgov_registry_mock/contract.py
Due: ruff

chore: refactor withdraw_balance to withdraw_available_funds
  smart_contracts/xgov_registry/contract.py
Due: ruff

feat: get available funds
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

test: get available funds
  tests/xgov_registry/test_get_available_funds.py
Due: ruff

chore: rename withdraw_balance to withdraw_available_funds
  tests/xgov_registry/test_withdraw_available_funds.py
Due: ruff

chore: stable testnet deployment id
  .env.testnet.template
Due: none

chore: nit
  .github/workflows/xgov-beta-sc-pause-resume.yml
Due: none

feat: add delete_test_deployment command (forbidden on mainnet)
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

ci: delete test deployment command
  .github/workflows/xgov-beta-sc-delete-test-deployment.yml
Due: none

chore: add local stable deployment id
  .env.localnet.template
Due: none

chore: nit
  .github/workflows/xgov-beta-sc-delete-test-deployment.yml
Due: none

chore: improve error handling; add b64 constants
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

chore: log error when targeting stable deployment
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

chore: refactor signer
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

chore: add empty multisig address
  .github/workflows/xgov-beta-sc-delete-test-deployment.yml
Due: none

chore: no need to use msig for disposable test deployment
  .github/workflows/xgov-beta-sc-delete-test-deployment.yml
Due: none

chore: no need to use msig for disposable test deployment
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

chore: remove write permissions
  .github/workflows/xgov-beta-sc-delete-test-deployment.yml
Due: none

chore: native markdown admonitions
  docs/_include/styles.md
  docs/implementation/configuration.md
Due: mdbook-test

docs: available funds
  docs/specs/xgov-treasury.md
Due: mdbook-test

chore: committee publish helpers
  smart_contracts/xgov_registry/committee_publish.py
Due: ruff

chore: committee declaration precheck script
  .github/scripts/committee-precheck.sh
Due: none

chore: committee declaration deploy command
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

test: committee declaration
  tests/xgov_registry/test_committee_publish.py
Due: ruff

ci: committee watchdog
  .github/workflows/xgov-beta-sc-watchdog-mainnet.yml
Due: none

ci: committee publish
  .github/workflows/xgov-beta-sc-publish-committee-mainnet.yml
  .github/workflows/xgov-beta-sc-publish-committee-testnet.yml
Due: none

Path conditions:
  ruff: any of: ^(smart_contracts|tests)/ and \.py$
  mdbook-test: any of: \.(md|markdown|mdown)$
