Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

.pre-commit-config.yaml:

repos:
  # AlgoKit
  - repo: local
    hooks:

      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff check
        language: system
        types: [ python ]
        args: [ --fix ]
        require_serial: false
        additional_dependencies: [ ]
        minimum_pre_commit_version: '0'
        files: '^(smart_contracts|tests)/'

      - id: mypy
        name: mypy
        description: '`mypy` will check Python types for correctness'
        entry: poetry run mypy
        language: system
        types_or: [ python, pyi ]
        require_serial: true
        additional_dependencies: [ ]
        minimum_pre_commit_version: '2.9.2'
        files: '^(smart_contracts|tests)/'

  # Security and Infrastructure as Code scanning
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 3.2.457
    hooks:
      - id: checkov
        name: checkov
        description: "Checkov: Static analysis for infrastructure as code"
        entry: checkov
        language: python
        args: [--framework, dockerfile, --framework, github_actions, --framework, yaml]
        types_or: [yaml, dockerfile]
        files: '^(\\.github/workflows/.*\\.ya?ml|Dockerfile.*|docker-compose.*\\.ya?ml)$'
        require_serial: false
        additional_dependencies: []

#      # Uncomment to enable TEAL static analysis using Tealer package
#      - id: tealer
#        name: tealer
#        description: "Run AlgoKit `Tealer` for TEAL static analysis"
#        entry: algokit
#        language: system
#        args: [project, run, "audit-teal"]
#        require_serial: false
#        additional_dependencies: []
#        minimum_pre_commit_version: "0"
#        files: '^.*\.teal$'

  # Docs
  - repo: local
    hooks:
      - id: mdbook-build
        name: mdbook build
        description: "Builds mdBook."
        entry: mdbook build
        language: rust
        minimum_pre_commit_version: 3.2.0
        additional_dependencies: [ ]
        pass_filenames: false

      - id: mdbook-test
        name: mdbook test
        description: "Checks mdBook pass tests."
        entry: mdbook test
        language: rust
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        entry: markdownlint
        language: node
        minimum_pre_commit_version: 0.15.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs/.*\.md|README\.md|SECURITY\.md)$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: "Trims trailing whitespace."
        entry: trailing-whitespace-fixer
        language: python
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.19.1
    hooks:
    - id: lychee-docker
      name: lychee
      description: "Run 'lychee' docker image for fast, async, stream-based link checking"
      entry: lycheeverse/lychee:0.14
      language: docker_image
      args: ["--no-progress"]
      types: [text]
      pass_filenames: true
      require_serial: true

chore: support localnet
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

docs: committee publishing automation and watchdog
  docs/implementation/ci-cd.md
Due: mdbook-test

docs: local ci command guide and examples
  docs/implementation/ci-cd.md
Due: mdbook-test

chore: lint and formatting
  smart_contracts/xgov_registry/committee_publish.py
  smart_contracts/xgov_registry/deploy_config.py
  tests/xgov_registry/test_committee_publish.py
Due: ruff

fix: up-to-date condition
  .github/scripts/committee-precheck.sh
Due: none

chore: add note on empty committees
  .github/scripts/committee-precheck.sh
Due: none

chore: add summary step
  .github/workflows/xgov-beta-sc-publish-committee-mainnet.yml
Due: none

chore: testnet force publish
  .github/scripts/committee-precheck.sh
  .github/workflows/xgov-beta-sc-publish-committee-testnet.yml
Due: none

chore: force alert
  .github/scripts/committee-precheck.sh
  .github/workflows/xgov-beta-sc-watchdog-mainnet.yml
Due: none

chore: validate bool in parse_positive_int
  smart_contracts/xgov_registry/committee_publish.py
Due: ruff

fix: restore testnet environment loading
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

chore: update dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: ignore know low vuln
  .algokit.toml
Due: none

chore: load env before command
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

chore: optional app id target
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

chore: revet copilot suggestion
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

chore: bump dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: use narive struct for events
  smart_contracts/common/abi_types.py
Due: ruff

docs: add event round
  docs/implementation/events.md
Due: mdbook-test

chore: add events round
  smart_contracts/common/abi_types.py
  smart_contracts/proposal/contract.py
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/council/Council.approval.puya.map
  smart_contracts/artifacts/council/Council.approval.teal
  smart_contracts/artifacts/council/Council.arc56.json
  smart_contracts/artifacts/council/council_client.py
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.puya.map
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.teal
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.arc56.json
  smart_contracts/artifacts/xgov_subscriber_app_mock/x_gov_subscriber_app_mock_client.py
Due: ruff

fix: error transformer leaks across tests
  tests/conftest.py
Due: ruff

chore: lint
  tests/conftest.py
Due: ruff

chore: build avm clients
  smart_contracts/__main__.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/council/council_avm_client.py
  smart_contracts/artifacts/proposal/proposal_avm_client.py
  smart_contracts/artifacts/xgov_registry/x_gov_registry_avm_client.py
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_avm_client.py
  smart_contracts/artifacts/xgov_subscriber_app_mock/x_gov_subscriber_app_mock_avm_client.py
Due: ruff

docs: app and avm client integration
  docs/implementation/integrations.md
Due: mdbook-test

docs: fix link
  docs/implementation/events.md
Due: mdbook-test

chore: code review
  smart_contracts/__main__.py
Due: ruff

test: deposit funds cannot reuse one payment for multiple calls
  tests/xgov_registry/test_deposit_funds.py
Due: ruff

chore: setup actions for council contract
  .github/workflows/xgov-council-release.yml
  smart_contracts/council/deploy_config.py
Due: ruff

fix: inline app spec import hoisted to file level import
  smart_contracts/council/deploy_config.py
Due: ruff

chore: next anchor; completion perc; time to next anchor
  .github/scripts/committee-precheck.sh
  .github/workflows/xgov-beta-sc-publish-committee-mainnet.yml
  .github/workflows/xgov-beta-sc-publish-committee-testnet.yml
Due: none

chore: derive s/block metric from tenths value
  .github/scripts/committee-precheck.sh
  .github/workflows/xgov-beta-sc-publish-committee-mainnet.yml
  .github/workflows/xgov-beta-sc-publish-committee-testnet.yml
Due: none

chore: remove unneeded import type
  smart_contracts/council/deploy_config.py
Due: ruff

chore: formatting
  smart_contracts/council/deploy_config.py
Due: ruff

fix: sign council member updates as committee manager
  .github/workflows/xgov-council-release.yml
  smart_contracts/council/deploy_config.py
Due: ruff

fix: address council workflow review comments
  .github/workflows/xgov-council-release.yml
  smart_contracts/council/deploy_config.py
Due: ruff

chore: lint
  smart_contracts/council/deploy_config.py
Due: ruff

fix: use deployer signer for council member updates
  .github/workflows/xgov-council-release.yml
  smart_contracts/council/deploy_config.py
Due: ruff
