Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

ruff:
  name: ruff
  description: Run 'ruff' for extremely fast Python linting
  entry: poetry run ruff check
  language: system
  args:
  - --fix
  require_serial: false
  additional_dependencies: []
  minimum_pre_commit_version: '0'

mdbook-test:
  name: mdbook test
  description: Checks mdBook pass tests.
  entry: mdbook test
  language: rust
  minimum_pre_commit_version: 3.2.0
  additional_dependencies: []
  pass_filenames: false

chore: strict config consistency checks
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: fix funding type enums
  docs/implementation/events.md
Due: mdbook-test

chore: build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

test: get voting state
  tests/proposal/test_get_voting_state.py
Due: ruff

chore: rename voters_count -> assigned_members
  smart_contracts/proposal/contract.py
Due: ruff

chore: define static proposal approval pages
  smart_contracts/xgov_registry/constants.py
Due: ruff

chore: define mbr constants; use proposal approval pages
  tests/proposal/common.py
Due: ruff

chore: add invalid approval program pages error
  smart_contracts/errors/std_errors.py
Due: ruff

feat: allow larger proposal programs; add strict config consistency checks
  smart_contracts/xgov_registry/contract.py
Due: ruff

fix: plebiscite check
  tests/proposal/test_get_voting_state.py
Due: ruff

chore: rename voters_count -> assigned_members
  tests/proposal/test_scrutiny.py
  tests/proposal/test_unassign_voters.py
  tests/proposal/test_vote.py
Due: ruff

oops
  tests/proposal/common.py
Due: ruff

docs: nit
  docs/implementation/events.md
Due: mdbook-test

chore: fix scope; update mdbook
  .github/actions/docs-ci/action.yaml
Due: none

chore: deploy docs on release
  .github/workflows/docs-cd.yaml
Due: none

chore: deploy preview on docs pr
  .github/workflows/docs-pr.yaml.yml
Due: none

chore: run on docs diff; deploy preview pr
  .github/workflows/docs-ci.yaml
  .github/workflows/docs-pr.yaml.yml
Due: none

chore: bump action versions
  .github/actions/algokit-setup/action.yaml
Due: none

chore: shard tests scoped by directory
  .github/workflows/xgov-beta-sc-ci.yml
Due: none

chore: fix pytest command
  .github/workflows/xgov-beta-sc-ci.yml
Due: none

ci: improve concurrency check
  .github/workflows/docs-ci.yaml
Due: none

ci: improve exclusion checks
  .github/workflows/docs-ci.yaml
Due: none

ci: inherit permissions
  .github/workflows/docs-cd.yaml
Due: none

chore: fix inherit
  .github/workflows/docs-cd.yaml
Due: none

chore: nit
  .github/workflows/docs-ci.yaml
Due: none

fix: semver + council canary versioning
  .github/workflows/xgov-council-release.yml
  pyproject.toml
Due: none

chore: build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

docs: remove pending proposal requirement
  docs/specs/xgov-rbac.md
Due: mdbook-test

feat: copy registry config on creation and opening; internal missing config error;
  smart_contracts/proposal/contract.py
Due: ruff

chore: use registry keys
  smart_contracts/proposal_mock/contract.py
Due: ruff

chore: add proposal keys; remove registry keys
  smart_contracts/proposal/config.py
Due: ruff

chore: reduce proposal pages
  smart_contracts/xgov_registry/constants.py
Due: ruff

feat: allow reconfiguration with pending proposals; add committee validation; remove unused errors
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: remove unused errors
  smart_contracts/errors/std_errors.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/proposal_mock/ProposalMock.approval.puya.map
  smart_contracts/artifacts/proposal_mock/ProposalMock.approval.teal
  smart_contracts/artifacts/proposal_mock/ProposalMock.arc56.json
  smart_contracts/artifacts/proposal_mock/proposal_mock_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: expand global state assertions
  tests/proposal/common.py
Due: ruff

chore: renames
  tests/proposal/test_assign_voters.py
Due: ruff

chore: renames
  tests/proposal/test_submit.py
Due: ruff

chore: renames
  tests/proposal/test_unassign_voters.py
Due: ruff

Path conditions:
  ruff: any of: ^(smart_contracts|tests)/ and \.py$
  mdbook-test: any of: \.(md|markdown|mdown)$
