Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

.pre-commit-config.yaml:

repos:
  # AlgoKit
  - repo: local
    hooks:

      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff check
        language: system
        types: [ python ]
        args: [ --fix ]
        require_serial: false
        additional_dependencies: [ ]
        minimum_pre_commit_version: '0'
        files: '^(smart_contracts|tests)/'

      - id: mypy
        name: mypy
        description: '`mypy` will check Python types for correctness'
        entry: poetry run mypy
        language: system
        types_or: [ python, pyi ]
        require_serial: true
        additional_dependencies: [ ]
        minimum_pre_commit_version: '2.9.2'
        files: '^(smart_contracts|tests)/'

  # Security and Infrastructure as Code scanning
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 3.2.457
    hooks:
      - id: checkov
        name: checkov
        description: "Checkov: Static analysis for infrastructure as code"
        entry: checkov
        language: python
        args: [--framework, dockerfile, --framework, github_actions, --framework, yaml]
        types_or: [yaml, dockerfile]
        files: '^(\\.github/workflows/.*\\.ya?ml|Dockerfile.*|docker-compose.*\\.ya?ml)$'
        require_serial: false
        additional_dependencies: []

#      # Uncomment to enable TEAL static analysis using Tealer package
#      - id: tealer
#        name: tealer
#        description: "Run AlgoKit `Tealer` for TEAL static analysis"
#        entry: algokit
#        language: system
#        args: [project, run, "audit-teal"]
#        require_serial: false
#        additional_dependencies: []
#        minimum_pre_commit_version: "0"
#        files: '^.*\.teal$'

  # Docs
  - repo: local
    hooks:
      - id: mdbook-build
        name: mdbook build
        description: "Builds mdBook."
        entry: mdbook build
        language: rust
        minimum_pre_commit_version: 3.2.0
        additional_dependencies: [ ]
        pass_filenames: false

      - id: mdbook-test
        name: mdbook test
        description: "Checks mdBook pass tests."
        entry: mdbook test
        language: rust
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        entry: markdownlint
        language: node
        minimum_pre_commit_version: 0.15.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs/.*\.md|README\.md|SECURITY\.md)$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: "Trims trailing whitespace."
        entry: trailing-whitespace-fixer
        language: python
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.19.1
    hooks:
    - id: lychee-docker
      name: lychee
      description: "Run 'lychee' docker image for fast, async, stream-based link checking"
      entry: lycheeverse/lychee:0.14
      language: docker_image
      args: ["--no-progress"]
      types: [text]
      pass_filenames: true
      require_serial: true

test: consolidate tests
  tests/xgov_registry/test_get_voter_box.py
Due: ruff

docs: update voter box schema
  docs/specs/proposal-submission.md
Due: mdbook-test

feat: add configuration consistency checks; consolidate mbr calculations
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/common/abi_types.py
  smart_contracts/errors/std_errors.py
  smart_contracts/proposal/contract.py
  smart_contracts/xgov_registry/contract.py
  tests/proposal/test_scrutiny.py
  tests/proposal/test_unassign_voters.py
  tests/proposal/test_vote.py
  tests/xgov_registry/conftest.py
  tests/xgov_registry/test_config_xgov_registry.py
  tests/xgov_registry/test_get_voter_box.py
Due: ruff

feat: unassign absentees in approved or rejected status
  smart_contracts/proposal/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

chore: redefine voter defaults
  tests/proposal/common.py
Due: ruff

chore: no plebiscite default
  tests/proposal/conftest.py
Due: ruff

chore: no plebiscite default; unassign after scrutiny
  tests/proposal/test_assign_voters.py
  tests/proposal/test_block.py
  tests/proposal/test_finalize.py
  tests/proposal/test_fund.py
  tests/proposal/test_review.py
  tests/proposal/test_scrutiny.py
  tests/proposal/test_unassign_voters.py
  tests/proposal/test_vote.py
Due: ruff

chore: unassign absentees after scrutiny
  docs/_excalidraw/proposal-state-machine.excalidraw
  docs/_images/proposal-state-machine.svg
Due: none

chore: lint
  tests/proposal/conftest.py
  tests/proposal/test_fund.py
  tests/proposal/test_unassign_voters.py
  tests/proposal/test_vote.py
Due: ruff

chore: use defaults
  tests/proposal/test_scrutiny.py
Due: ruff

chore: add status asserts; scrutinize proposal util
  tests/proposal/common.py
  tests/proposal/conftest.py
  tests/proposal/test_review.py
  tests/proposal/test_scrutiny.py
  tests/proposal/test_unassign_voters.py
  tests/xgov_registry/conftest.py
  tests/xgov_registry/test_finalize_proposal.py
Due: ruff

chore: lint
  tests/proposal/common.py
  tests/proposal/conftest.py
  tests/proposal/test_unassign_voters.py
  tests/xgov_registry/conftest.py
Due: ruff

chore: fixed autopopulate
  tests/xgov_registry/conftest.py
  tests/xgov_registry/test_drop_proposal.py
  tests/xgov_registry/test_subscribe_xgov.py
  tests/xgov_registry/test_unsubscribe_xgov.py
  tests/xgov_registry/test_vote_proposal.py
Due: ruff

fix: typo in error label
  smart_contracts/errors/std_errors.py
  smart_contracts/xgov_registry/contract.py
  tests/xgov_registry/test_config_xgov_registry.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

docs: add managed unsubscriptions
  docs/OVERVIEW.md
Due: mdbook-test

docs: lint
  docs/specs/xgovs.md
Due: mdbook-test

docs: nit
  docs/specs/xgov-treasury.md
Due: mdbook-test

docs: absentees clean-up; lint
  docs/specs/xgov-rbac.md
Due: mdbook-test

docs: absentees cleanup on scrutiny
  docs/specs/proposal-vote.md
Due: mdbook-test

docs: absentees cleanup on scrutiny
  docs/specs/proposal.md
Due: mdbook-test

docs: council testnet deployment
  docs/implementation/deployment.md
Due: mdbook-test

docs: add new manual workflows
  docs/implementation/ci-cd.md
Due: mdbook-test

chore: use scrutinize util
  tests/proposal/test_scrutiny.py
Due: ruff

chore: no plebiscite by default
  tests/proposal/common.py
Due: ruff

chore: nit
  tests/proposal/conftest.py
Due: ruff

docs: event specs
  docs/implementation/events.md
Due: mdbook-test

docs: add events section
  docs/SUMMARY.md
Due: mdbook-test

chore: define arc-28 event types
  smart_contracts/common/abi_types.py
Due: ruff

chore: nit
  smart_contracts/proposal/enums.py
Due: ruff

feat: add arc-28 events
  smart_contracts/proposal/contract.py
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

docs: nit
  docs/implementation/events.md
Due: mdbook-test

chore: define voting state type
  smart_contracts/common/abi_types.py
Due: ruff

feat: add voting state getter
  smart_contracts/proposal/contract.py
Due: ruff

chore: handle null category
  smart_contracts/proposal/contract.py
Due: ruff
