Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

.pre-commit-config.yaml:

repos:
  # AlgoKit
  - repo: local
    hooks:

      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff check
        language: system
        types: [ python ]
        args: [ --fix ]
        require_serial: false
        additional_dependencies: [ ]
        minimum_pre_commit_version: '0'
        files: '^(smart_contracts|tests)/'

      - id: mypy
        name: mypy
        description: '`mypy` will check Python types for correctness'
        entry: poetry run mypy
        language: system
        types_or: [ python, pyi ]
        require_serial: true
        additional_dependencies: [ ]
        minimum_pre_commit_version: '2.9.2'
        files: '^(smart_contracts|tests)/'

  # Security and Infrastructure as Code scanning
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 3.2.457
    hooks:
      - id: checkov
        name: checkov
        description: "Checkov: Static analysis for infrastructure as code"
        entry: checkov
        language: python
        args: [--framework, dockerfile, --framework, github_actions, --framework, yaml]
        types_or: [yaml, dockerfile]
        files: '^(\\.github/workflows/.*\\.ya?ml|Dockerfile.*|docker-compose.*\\.ya?ml)$'
        require_serial: false
        additional_dependencies: []

#      # Uncomment to enable TEAL static analysis using Tealer package
#      - id: tealer
#        name: tealer
#        description: "Run AlgoKit `Tealer` for TEAL static analysis"
#        entry: algokit
#        language: system
#        args: [project, run, "audit-teal"]
#        require_serial: false
#        additional_dependencies: []
#        minimum_pre_commit_version: "0"
#        files: '^.*\.teal$'

  # Docs
  - repo: local
    hooks:
      - id: mdbook-build
        name: mdbook build
        description: "Builds mdBook."
        entry: mdbook build
        language: rust
        minimum_pre_commit_version: 3.2.0
        additional_dependencies: [ ]
        pass_filenames: false

      - id: mdbook-test
        name: mdbook test
        description: "Checks mdBook pass tests."
        entry: mdbook test
        language: rust
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        entry: markdownlint
        language: node
        minimum_pre_commit_version: 0.15.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs/.*\.md|README\.md|SECURITY\.md)$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: "Trims trailing whitespace."
        entry: trailing-whitespace-fixer
        language: python
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.19.1
    hooks:
    - id: lychee-docker
      name: lychee
      description: "Run 'lychee' docker image for fast, async, stream-based link checking"
      entry: lycheeverse/lychee:0.14
      language: docker_image
      args: ["--no-progress"]
      types: [text]
      pass_filenames: true
      require_serial: true

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

fix: check active status on unassigning absentee
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: check active status on approve subscribe request
  smart_contracts/xgov_registry/contract.py
Due: ruff

test: not xgov (TODO)
  tests/xgov_registry/test_approve_subscribe_xgov.py
  tests/xgov_registry/test_approve_unsubscribe_xgov.py
Due: ruff

test: activate xgov (TODO)
  tests/xgov_registry/test_activate_xgov.py
Due: ruff

chore: tentatively delete box before subscribe; check status before activate
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: lint
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: nit
  smart_contracts/xgov_registry/contract.py
Due: ruff

fix: delete correct xgov key
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: keep unauthorized error docstring
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: docstring nits
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: accurate error handling for activate xgov method
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: typo
  tests/xgov_registry/test_unsubscribe_xgov.py
Due: ruff

chore: nit
  docs/specs/xgov-committee.md
Due: mdbook-test

test: activate xgov
  tests/xgov_registry/test_activate_xgov.py
Due: ruff

test: already xgov
  tests/xgov_registry/test_approve_subscribe_xgov.py
Due: ruff

test: not xgov
  tests/xgov_registry/test_approve_unsubscribe_xgov.py
Due: ruff

chore: fix sender
  tests/xgov_registry/test_approve_subscribe_xgov.py
Due: ruff

bump(ver): v3.0.0
  pyproject.toml
Due: none

ci: skip pages environment check (now on cloudflare)
  .github/workflows/check-deployments.yaml
Due: none

chore: update version to 3.0.0
  pyproject.toml
Due: none

Revert "bump(ver): v3.0.0"
  pyproject.toml
Due: none

docs: update configuration
  docs/implementation/configuration.md
Due: mdbook-test

ci: skip validation on deployment
  .github/workflows/docs-cd.yaml
Due: none

docs: diff check on main; manual docs deployment
  docs/implementation/ci-cd.md
Due: mdbook-test

chore: add amount to withdraw_balance method signature
  smart_contracts/interfaces/xgov_registry.py
Due: ruff

chore: update withdraw_balance method signature
  smart_contracts/xgov_registry_mock/contract.py
Due: ruff

feat: the xgov payor can withdraw available extra funds
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

docs: xgov payor can withdraw extra funds from treasury
  docs/specs/xgov-rbac.md
  docs/specs/xgov-treasury.md
Due: mdbook-test

test: xgov payor can withdraw extra funds from treasury
  tests/xgov_registry/test_withdraw_balance.py
Due: ruff
