Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

ruff:
  name: ruff
  description: Run 'ruff' for extremely fast Python linting
  entry: poetry run ruff check
  language: system
  args:
  - --fix
  require_serial: false
  additional_dependencies: []
  minimum_pre_commit_version: '0'

mdbook-test:
  name: mdbook test
  description: Checks mdBook pass tests.
  entry: mdbook test
  language: rust
  minimum_pre_commit_version: 3.2.0
  additional_dependencies: []
  pass_filenames: false

chore: build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: use interface methods
  tests/proposal/conftest.py
  tests/proposal/test_fund.py
  tests/proposal/test_scrutiny.py
  tests/proposal/test_vote.py
Due: ruff

chore: abi methods kwargs
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: abi methods kwargs
  smart_contracts/xgov_registry_mock/contract.py
Due: ruff

chore: abi methods kwargs
  smart_contracts/interfaces/xgov_registry.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: lint
  smart_contracts/interfaces/xgov_registry.py
  smart_contracts/xgov_registry/contract.py
  smart_contracts/xgov_registry_mock/contract.py
Due: ruff

chore: update interfaces
  tests/proposal/common.py
  tests/proposal/conftest.py
  tests/proposal/test_drop.py
  tests/proposal/test_finalize.py
  tests/proposal/test_fund.py
  tests/proposal/test_scrutiny.py
  tests/proposal/test_vote.py
Due: ruff

docs: add integration guidelines
  docs/SUMMARY.md
  docs/implementation/integrations.md
Due: mdbook-test

chore: add post-build script to remove .html suffix
  Dockerfile
  docker/mdbook-wrapper.sh
Due: none

chore: remove unused additional js
  book.toml
Due: none

chore: track docker ecosystem
  .github/dependabot.yml
Due: none

chore: track docker and docker-compose ecosystems
  .github/dependabot.yml
Due: none

chore: bump dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: add urllib3 explicit dependency
  poetry.lock
  pyproject.toml
Due: none

chore: nit
  pyproject.toml
Due: none

chore: add pip explicit dependency
  poetry.lock
  pyproject.toml
Due: none

chore: remove acknowledged vuln
  .algokit.toml
Due: none

chore: update version to 2.0.0
  pyproject.toml
Due: none

Updated shared theme submodule; removed workflow_dispatch from docs-cd.yaml workflow
  .github/workflows/docs-cd.yaml
Due: none

Added deployment preview on Cloudflare to docs-ci.yaml workflow
  .github/workflows/docs-ci.yaml
Due: none

Updated docs-ci and docs-cd workflows to use wranger-action@v3 to deploy to Cloudflare instead of the deprecated pages-actions@v1
  .github/workflows/docs-cd.yaml
  .github/workflows/docs-ci.yaml
Due: none

Updated docs-cd.yaml workflow file to pass the correct permissions to the docs-ci.yaml workflow.
  .github/workflows/docs-cd.yaml
Due: none

Added workflow_dispatch back in to enable manual deployment
  .github/workflows/docs-cd.yaml
Due: none

chore: update configuration
  docs/implementation/configuration.md
Due: mdbook-test

chore: update deployment links
  docs/implementation/deployment.md
Due: mdbook-test

chore: nit
  docs/CONTRIBUTION-GUIDELINES.md
Due: mdbook-test

chore: clarify code contributions
  docs/CONTRIBUTION-GUIDELINES.md
Due: mdbook-test

chore: turn lychee into warnings
  .github/actions/docs-ci/action.yaml
Due: none

Updated CF Pages deployment step; added workflow_dispatch to docs-cd workflow
  .github/workflows/docs-cd.yaml
  .github/workflows/docs-ci.yaml
Due: none

Updated workflow to add logging of build outputs
  .github/workflows/docs-cd.yaml
Due: none

Updated AlgoKit link in README
  README.md
Due: mdbook-test

Updated docs-cd.yaml workflow
  .github/workflows/docs-cd.yaml
Due: none

Updated docs-cd.yaml workflow
  .github/workflows/docs-ci.yaml
Due: none

Updated to deploy to new CF Pages env
  .github/workflows/docs-cd.yaml
  .github/workflows/docs-ci.yaml
Due: none

chore: define committee ranges
  smart_contracts/xgov_registry/constants.py
Due: ruff

feat: stale committee protection
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: committee ranges template values
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

Path conditions:
  ruff: any of: ^(smart_contracts|tests)/ and \.py$
  mdbook-test: any of: \.(md|markdown|mdown)$
