Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

.pre-commit-config.yaml:

repos:
  # AlgoKit
  - repo: local
    hooks:

      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff check
        language: system
        types: [ python ]
        args: [ --fix ]
        require_serial: false
        additional_dependencies: [ ]
        minimum_pre_commit_version: '0'
        files: '^(smart_contracts|tests)/'

      - id: mypy
        name: mypy
        description: '`mypy` will check Python types for correctness'
        entry: poetry run mypy
        language: system
        types_or: [ python, pyi ]
        require_serial: true
        additional_dependencies: [ ]
        minimum_pre_commit_version: '2.9.2'
        files: '^(smart_contracts|tests)/'

  # Security and Infrastructure as Code scanning
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 3.2.457
    hooks:
      - id: checkov
        name: checkov
        description: "Checkov: Static analysis for infrastructure as code"
        entry: checkov
        language: python
        args: [--framework, dockerfile, --framework, github_actions, --framework, yaml]
        types_or: [yaml, dockerfile]
        files: '^(\\.github/workflows/.*\\.ya?ml|Dockerfile.*|docker-compose.*\\.ya?ml)$'
        require_serial: false
        additional_dependencies: []

#      # Uncomment to enable TEAL static analysis using Tealer package
#      - id: tealer
#        name: tealer
#        description: "Run AlgoKit `Tealer` for TEAL static analysis"
#        entry: algokit
#        language: system
#        args: [project, run, "audit-teal"]
#        require_serial: false
#        additional_dependencies: []
#        minimum_pre_commit_version: "0"
#        files: '^.*\.teal$'

  # Docs
  - repo: local
    hooks:
      - id: mdbook-build
        name: mdbook build
        description: "Builds mdBook."
        entry: mdbook build
        language: rust
        minimum_pre_commit_version: 3.2.0
        additional_dependencies: [ ]
        pass_filenames: false

      - id: mdbook-test
        name: mdbook test
        description: "Checks mdBook pass tests."
        entry: mdbook test
        language: rust
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        entry: markdownlint
        language: node
        minimum_pre_commit_version: 0.15.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs/.*\.md|README\.md)$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: "Trims trailing whitespace."
        entry: trailing-whitespace-fixer
        language: python
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.19.1
    hooks:
    - id: lychee-docker
      name: lychee
      description: "Run 'lychee' docker image for fast, async, stream-based link checking"
      entry: lycheeverse/lychee:0.14
      language: docker_image
      args: ["--no-progress"]
      types: [text]
      pass_filenames: true
      require_serial: true

docs: update xgov fee
  docs/implementation/configuration.md
Due: mdbook-test

Update README.md
  README.md
Due: mdbook-test

docs: add relation type section
  docs/SUMMARY.md
  docs/specs/xgov-relation-types.md
  docs/specs/xgovs.md
Due: mdbook-test

chore: add relation type request issue template
  .github/ISSUE_TEMPLATE/relation-type-request.yaml
Due: none

chore: add relation type label
  .github/ISSUE_TEMPLATE/relation-type-request.yaml
Due: none

chore: bump pip
  poetry.lock
Due: none

chore: ignore GHSA-4xh5-x5gv-qwph in pip audit
  .algokit.toml
Due: none

chore: comply with ruff RUF059 rule
  smart_contracts/xgov_registry/contract.py
  smart_contracts/xgov_registry_mock/contract.py
  smart_contracts/xgov_subscriber_app_mock/contract.py
Due: ruff

build: artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc32.json
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc32.json
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.puya.map
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.teal
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.arc32.json
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.arc56.json
  smart_contracts/artifacts/xgov_subscriber_app_mock/x_gov_subscriber_app_mock_client.py
Due: ruff

chore: bump pytest-cov
  poetry.lock
  pyproject.toml
Due: none

chore: comment cleanup
  tests/council/test_vote.py
Due: ruff

fix: vault msig signer
  smart_contracts/xgov_registry/vault_tx_signer.py
Due: ruff

fix: manual testnet deployment
  .github/workflows/xgov-beta-sc-cd.yml
Due: none

wip: council ci/cd
  .github/workflows/xgov-beta-sc-release.yml
  docs/implementation/deployment.md
  smart_contracts/council/deploy_config.py
Due: ruff, mdbook-test

feat: upgradable council contract + removed admin in favor of xgov_manager
  smart_contracts/artifacts/council/Council.approval.puya.map
  smart_contracts/artifacts/council/Council.approval.teal
  smart_contracts/artifacts/council/Council.arc32.json
  smart_contracts/artifacts/council/Council.arc56.json
  smart_contracts/artifacts/council/council_client.py
  smart_contracts/council/config.py
  smart_contracts/council/contract.py
  smart_contracts/council/deploy_config.py
  tests/council/conftest.py
Due: ruff

chore: add SECURITY.md
  .pre-commit-config.yaml
  SECURITY.md
Due: mdbook-test

chore: include SECURITY.md
  docs/BUG-BOUNTY.md
Due: mdbook-test

chore: remove bug report issue template
  .github/ISSUE_TEMPLATE/bug-report.yaml
Due: none

chore: allow preamble
  .markdownlint.json
Due: none

chore: update arc links
  docs/OVERVIEW.md
  docs/READING-GUIDELINES.md
Due: mdbook-test

chore: update dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: pin avm version
  smart_contracts/__main__.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/council/Council.approval.puya.map
  smart_contracts/artifacts/council/Council.approval.teal
  smart_contracts/artifacts/council/Council.arc32.json
  smart_contracts/artifacts/council/Council.arc56.json
  smart_contracts/artifacts/council/council_client.py
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc32.json
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/proposal_mock/ProposalMock.approval.puya.map
  smart_contracts/artifacts/proposal_mock/ProposalMock.approval.teal
  smart_contracts/artifacts/proposal_mock/ProposalMock.arc32.json
  smart_contracts/artifacts/proposal_mock/ProposalMock.arc56.json
  smart_contracts/artifacts/proposal_mock/proposal_mock_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc32.json
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc32.json
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.puya.map
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.teal
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.arc32.json
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.arc56.json
  smart_contracts/artifacts/xgov_subscriber_app_mock/x_gov_subscriber_app_mock_client.py
Due: ruff

chore: update ruff setting
  pyproject.toml
Due: none

chore: lint
  smart_contracts/__main__.py
  smart_contracts/xgov_registry/deploy_config.py
  tests/proposal/common.py
  tests/utils.py
Due: ruff

chore: pin puyapy
  poetry.lock
  pyproject.toml
Due: none

chore: remove reference types
  smart_contracts/xgov_registry_mock/contract.py
Due: ruff

chore: re-build artifacts
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: bump algokit-utils
  poetry.lock
  pyproject.toml
Due: none

chore: bump algorand dependencies
  pyproject.toml
Due: none

chore: bump algorand dependencies
  poetry.lock
Due: none

chore: re-build artifacts
  smart_contracts/artifacts/council/Council.approval.puya.map
  smart_contracts/artifacts/council/Council.approval.teal
  smart_contracts/artifacts/council/Council.arc56.json
  smart_contracts/artifacts/council/council_client.py
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/proposal_mock/ProposalMock.approval.puya.map
  smart_contracts/artifacts/proposal_mock/ProposalMock.approval.teal
  smart_contracts/artifacts/proposal_mock/ProposalMock.arc56.json
  smart_contracts/artifacts/proposal_mock/proposal_mock_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.puya.map
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.teal
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.arc56.json
  smart_contracts/artifacts/xgov_subscriber_app_mock/x_gov_subscriber_app_mock_client.py
Due: ruff

chore: replace deprecated .native with .as_uint64()
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: explicit arc4 types in method signatures
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: re-build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

chore: replace deprecated .native with .as_uint64()
  smart_contracts/proposal/contract.py
Due: ruff

chore: re-build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
Due: ruff

chore: lint
  smart_contracts/proposal/contract.py
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: re-build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

chore: switch from deprecated BoxRef to Box
  smart_contracts/proposal/contract.py
Due: ruff
