Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

ruff:
  name: ruff
  description: Run 'ruff' for extremely fast Python linting
  entry: poetry run ruff check
  language: system
  args:
  - --fix
  require_serial: false
  additional_dependencies: []
  minimum_pre_commit_version: '0'

mdbook-test:
  name: mdbook test
  description: Checks mdBook pass tests.
  entry: mdbook test
  language: rust
  minimum_pre_commit_version: 3.2.0
  additional_dependencies: []
  pass_filenames: false

docs: link to source instead of including
  docs/BUG-BOUNTY.md
Due: mdbook-test

docs: link to source instead of including
  docs/LICENSE.md
Due: mdbook-test

chore: ignore files no longer included
  .dockerignore
Due: none

chore: bump versions; remove mypy and tealer hooks; redefine files scopes
  .pre-commit-config.yaml
Due: none

docs: lint tables
  docs/implementation/deployment.md
Due: mdbook-test

docs: reorg footer sections
  docs/SUMMARY.md
Due: mdbook-test

chore: pin versions; remove unnecessary copy
  Dockerfile
Due: none

ci: use pre-commit hooks; switch to docker compose
  .github/actions/docs-ci/action.yaml
Due: none

ci: switch to docker compose
  .github/workflows/docs-cd.yaml
Due: none

ci: fix
  .github/actions/docs-ci/action.yaml
Due: none

chore: mdbook hook use system;
  .pre-commit-config.yaml
Due: none

chore: fix hook name
  .github/actions/docs-ci/action.yaml
Due: none

ci: make ephemeral book folder world-writable
  .github/actions/docs-ci/action.yaml
  .github/workflows/docs-cd.yaml
Due: none

chore: remove background
  docs/_excalidraw/architecture.excalidraw
  docs/_images/architecture.svg
Due: none

chore: update links
  docs/specs/xgov-committee.md
Due: mdbook-test

chore: isolate deployment preview
  .github/workflows/docs-cd.yaml
  .github/workflows/docs-ci.yaml
Due: none

chore: isolate deployment preview
  .github/workflows/docs-ci.yaml
Due: none

chore: nit
  .github/workflows/docs-ci.yaml
Due: none

chore: env in conditional block
  .github/workflows/docs-ci.yaml
Due: none

chore: lint
  docs/specs/xgov-committee.md
Due: mdbook-test

docs: delete absentees voters after scrutiny
  docs/specs/proposal-finalization.md
  docs/specs/proposal-vote.md
Due: mdbook-test

chore: bump mdbook versions
  Dockerfile
Due: none

add theme submodule properly
  book.toml
Due: none

chore: bump checkout version
  .github/actions/docs-ci/action.yaml
  .github/workflows/docs-cd.yaml
  .github/workflows/docs-ci.yaml
  .github/workflows/xgov-beta-sc-cd.yml
  .github/workflows/xgov-beta-sc-ci.yml
  .github/workflows/xgov-beta-sc-configure-registry.yml
  .github/workflows/xgov-beta-sc-pause-resume.yml
  .github/workflows/xgov-beta-sc-release-ci.yml
  .github/workflows/xgov-beta-sc-release.yml
  .github/workflows/xgov-beta-sc-set-roles.yml
  .github/workflows/xgov-council-release.yml
Due: none

chore: add submodules
  .github/actions/docs-ci/action.yaml
  .github/workflows/docs-cd.yaml
  .github/workflows/docs-ci.yaml
Due: none

Changed docs-cd.yaml workflow to deploy to CF Pages
  .github/workflows/docs-cd.yaml
Due: none

Updated docs-cd.yaml workflow to enable manual_dispatch
  .github/workflows/docs-cd.yaml
Due: none

chore: define proposal interface
  smart_contracts/interfaces/__init__.py
  smart_contracts/interfaces/proposal.py
Due: ruff

chore: inherit proposal interface
  smart_contracts/proposal/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
Due: ruff

chore: abi methods kwargs
  smart_contracts/interfaces/proposal.py
  smart_contracts/proposal/contract.py
Due: ruff

chore: delete proposal mock
  smart_contracts/artifacts/proposal_mock/ProposalMock.approval.puya.map
  smart_contracts/artifacts/proposal_mock/ProposalMock.approval.teal
  smart_contracts/artifacts/proposal_mock/ProposalMock.arc56.json
  smart_contracts/artifacts/proposal_mock/ProposalMock.clear.puya.map
  smart_contracts/artifacts/proposal_mock/ProposalMock.clear.teal
  smart_contracts/artifacts/proposal_mock/proposal_mock_client.py
  smart_contracts/proposal_mock/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
Due: ruff

chore: define xgov registry interface
  smart_contracts/interfaces/xgov_registry.py
Due: ruff

chore: use xgov registry interface
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: use xgov registry interface; remove unused mock methods
  smart_contracts/xgov_registry_mock/contract.py
Due: ruff

chore: nit
  smart_contracts/interfaces/proposal.py
Due: ruff

chore: nit
  smart_contracts/proposal/contract.py
Due: ruff

Path conditions:
  ruff: any of: ^(smart_contracts|tests)/ and \.py$
  mdbook-test: any of: \.(md|markdown|mdown)$
