Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

.pre-commit-config.yaml:

repos:
  # AlgoKit
  - repo: local
    hooks:

      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff check
        language: system
        types: [ python ]
        args: [ --fix ]
        require_serial: false
        additional_dependencies: [ ]
        minimum_pre_commit_version: '0'
        files: '^(smart_contracts|tests)/'

      - id: mypy
        name: mypy
        description: '`mypy` will check Python types for correctness'
        entry: poetry run mypy
        language: system
        types_or: [ python, pyi ]
        require_serial: true
        additional_dependencies: [ ]
        minimum_pre_commit_version: '2.9.2'
        files: '^(smart_contracts|tests)/'

  # Security and Infrastructure as Code scanning
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 3.2.457
    hooks:
      - id: checkov
        name: checkov
        description: "Checkov: Static analysis for infrastructure as code"
        entry: checkov
        language: python
        args: [--framework, dockerfile, --framework, github_actions, --framework, yaml]
        types_or: [yaml, dockerfile]
        files: '^(\\.github/workflows/.*\\.ya?ml|Dockerfile.*|docker-compose.*\\.ya?ml)$'
        require_serial: false
        additional_dependencies: []

#      # Uncomment to enable TEAL static analysis using Tealer package
#      - id: tealer
#        name: tealer
#        description: "Run AlgoKit `Tealer` for TEAL static analysis"
#        entry: algokit
#        language: system
#        args: [project, run, "audit-teal"]
#        require_serial: false
#        additional_dependencies: []
#        minimum_pre_commit_version: "0"
#        files: '^.*\.teal$'

  # Docs
  - repo: local
    hooks:
      - id: mdbook-build
        name: mdbook build
        description: "Builds mdBook."
        entry: mdbook build
        language: rust
        minimum_pre_commit_version: 3.2.0
        additional_dependencies: [ ]
        pass_filenames: false

      - id: mdbook-test
        name: mdbook test
        description: "Checks mdBook pass tests."
        entry: mdbook test
        language: rust
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        entry: markdownlint
        language: node
        minimum_pre_commit_version: 0.15.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs/.*\.md|README\.md)$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: "Trims trailing whitespace."
        entry: trailing-whitespace-fixer
        language: python
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.19.1
    hooks:
    - id: lychee-docker
      name: lychee
      description: "Run 'lychee' docker image for fast, async, stream-based link checking"
      entry: lycheeverse/lychee:0.14
      language: docker_image
      args: ["--no-progress"]
      types: [text]
      pass_filenames: true
      require_serial: true

chore: re-built artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: lint
  smart_contracts/proposal/contract.py
Due: ruff

chore: re-build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
Due: ruff

fix: deployment
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

fix: deployment, 2nd try
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

fix lint
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

Bump version from 1.0.1 to 1.1.0
  pyproject.toml
Due: none

fix: disallow voting address from unsubscribing
  smart_contracts/xgov_registry/contract.py
  smart_contracts/xgov_subscriber_app_mock/contract.py
Due: ruff

chore: re-build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.puya.map
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.teal
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.arc56.json
  smart_contracts/artifacts/xgov_subscriber_app_mock/x_gov_subscriber_app_mock_client.py
Due: ruff

fix: update tests to new unsubscribe interface
  tests/xgov_registry/test_unsubscribe_xgov.py
Due: ruff

test: voting address cannot unsubscribe anymore
  tests/xgov_registry/test_unsubscribe_xgov.py
Due: ruff

fix: enable managed unsubscription
  smart_contracts/errors/std_errors.py
  smart_contracts/xgov_registry/config.py
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: re-build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

test: unsubscribe via managed unsubscribe option
  tests/xgov_registry/conftest.py
  tests/xgov_registry/test_approve_unsubscribe_xgov.py
  tests/xgov_registry/test_reject_unsubscribe_xgov.py
  tests/xgov_registry/test_request_unsubscribe_xgov.py
Due: ruff

test: resubscribe via managed subscribe option
  tests/xgov_registry/test_request_resubscribe_xgov.py
Due: ruff

docs: add unsubscription option
  docs/specs/xgovs.md
Due: mdbook-test

docs: add unsubscription process
  docs/specs/xgov-rbac.md
  docs/specs/xgov-registry.md
  docs/specs/xgovs.md
Due: mdbook-test

fix: test arg type
  tests/xgov_registry/conftest.py
Due: ruff

fix: test method call
  tests/xgov_registry/test_approve_unsubscribe_xgov.py
Due: ruff

fix: test method call
  tests/xgov_registry/test_reject_unsubscribe_xgov.py
Due: ruff

docs: correct spelling
  tests/xgov_registry/test_request_unsubscribe_xgov.py
Due: ruff

feat: method to fetch unsubscribe request box
  smart_contracts/xgov_registry/contract.py
Due: ruff

test: check creation of unsubscribe request box
  tests/xgov_registry/test_request_unsubscribe_xgov.py
Due: ruff

test: check creation of subscribe request box
  tests/xgov_registry/test_request_subscribe_xgov.py
Due: ruff

test: check deletion of unsubscribe request box
  tests/xgov_registry/test_approve_unsubscribe_xgov.py
  tests/xgov_registry/test_reject_unsubscribe_xgov.py
Due: ruff

test: check deletion of subscribe request box
  tests/xgov_registry/test_approve_subscribe_xgov.py
  tests/xgov_registry/test_reject_subscribe_xgov.py
Due: ruff

fix: same request id for subscription and unsubscription
  smart_contracts/xgov_registry/config.py
  smart_contracts/xgov_registry/contract.py
Due: ruff

fix: tests use unified request id
  tests/xgov_registry/test_approve_unsubscribe_xgov.py
  tests/xgov_registry/test_reject_unsubscribe_xgov.py
  tests/xgov_registry/test_request_resubscribe_xgov.py
  tests/xgov_registry/test_request_unsubscribe_xgov.py
Due: ruff

chore: update hooks
  .pre-commit-config.yaml
Due: none

docs: add signed commits note
  docs/CONTRIBUTION-GUIDELINES.md
Due: mdbook-test

docs: unified request id for subscription and unsubscription options
  docs/specs/xgovs.md
Due: mdbook-test

feat: add pause/resume workflow
  .github/workflows/xgov-beta-sc-pause-resume.yml
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

lint fix
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

Update .github/workflows/xgov-beta-sc-pause-resume.yml
  .github/workflows/xgov-beta-sc-pause-resume.yml
Due: none

wip: decoupling council deployment
  .github/workflows/xgov-beta-sc-release.yml
  .github/workflows/xgov-council-release.yml
Due: none

feat: enable box getters not to fail on-chain
  smart_contracts/xgov_registry/contract.py
Due: ruff

feat: add voter box getter
  smart_contracts/proposal/contract.py
Due: ruff

chore: re-build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff
