Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

ruff:
  name: ruff
  description: Run 'ruff' for extremely fast Python linting
  entry: poetry run ruff check
  language: system
  args:
  - --fix
  require_serial: false
  additional_dependencies: []
  minimum_pre_commit_version: '0'

mdbook-test:
  name: mdbook test
  description: Checks mdBook pass tests.
  entry: mdbook test
  language: rust
  minimum_pre_commit_version: 3.2.0
  additional_dependencies: []
  pass_filenames: false

chore: use unassign absentees
  tests/proposal/conftest.py
Due: ruff

chore: use unassign absentees
  tests/proposal/test_delete.py
  tests/proposal/test_finalize.py
Due: ruff

chore: update and parametrize test after absenteeism rescope
  tests/proposal/test_unassign_voters.py
Due: ruff

test: unassign absentees
  tests/proposal/test_unassign_absentees.py
Due: ruff

chore: subscribed committee fixture; unassign absentees
  tests/xgov_registry/conftest.py
Due: ruff

chore: fix import
  tests/council/conftest.py
Due: ruff

chore: update fixtures and utils
  tests/xgov_registry/test_finalize_proposal.py
Due: ruff

test: presence buffer (wip)
  tests/xgov_registry/test_vote_proposal.py
Due: ruff

test: unassign absentees from proposal
  tests/xgov_registry/test_unassign_absentees_from_proposal.py
Due: ruff

chore: alternative proposal fixtures
  tests/xgov_registry/conftest.py
Due: ruff

test: resets presence buffer
  tests/xgov_registry/test_vote_proposal.py
Due: ruff

test: refactor using helpers
  tests/xgov_registry/conftest.py
Due: ruff

chore: add absence tolerance config param
  smart_contracts/common/abi_types.py
Due: ruff

chore: rename presence_counts to absence_tolerance
  tests/proposal/common.py
Due: ruff

chore: add absence tolerance config param
  smart_contracts/xgov_registry/config.py
Due: ruff

chore: remove mockup constant
  smart_contracts/xgov_registry/constants.py
Due: ruff

feat: add absence tolerance config var
  smart_contracts/xgov_registry/contract.py
  smart_contracts/xgov_registry_mock/contract.py
Due: ruff

chore: add absence tolerance env var
  .env.localnet.template
Due: none

chore: fix localnet deployment
  smart_contracts/council/deploy_config.py
Due: ruff

chore: add absence tolerance config param
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

chore: add absence tolerance config param
  tests/xgov_registry/conftest.py
Due: ruff

chore: build artifacts
  .github/workflows/xgov-beta-sc-cd.yml
  .github/workflows/xgov-beta-sc-configure-registry.yml
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: use absence tolerance param
  tests/xgov_registry/test_vote_proposal.py
Due: ruff

chore: rename presence_counts to absence_tolerance
  tests/xgov_registry/test_unassign_absentees_from_proposal.py
Due: ruff

test: unsubscribe absentee
  tests/xgov_registry/test_unsubscribe_absentee.py
Due: ruff

docs: add absenteeism
  docs/implementation/configuration.md
  docs/implementation/events.md
  docs/specs/proposal-vote.md
  docs/specs/xgovs.md
Due: mdbook-test

docs: committees repo
  docs/specs/xgov-committee.md
Due: mdbook-test

chore: update dependencies
  poetry.lock
Due: none

feat: record boycotted votes
  smart_contracts/common/abi_types.py
  smart_contracts/errors/std_errors.py
  smart_contracts/proposal/config.py
  smart_contracts/proposal/contract.py
  smart_contracts/xgov_registry/constants.py
  smart_contracts/xgov_registry/contract.py
  smart_contracts/xgov_registry_mock/contract.py
Due: ruff

chore: rebuild artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

test: boycott
  tests/proposal/common.py
  tests/proposal/test_scrutiny.py
  tests/proposal/test_vote.py
Due: ruff

docs: boycott
  docs/specs/proposal-vote.md
Due: mdbook-test

fix: redefine boycott vote
  smart_contracts/errors/std_errors.py
  smart_contracts/proposal/contract.py
  smart_contracts/xgov_registry/contract.py
  smart_contracts/xgov_registry_mock/contract.py
Due: ruff

test: redefinition of boycott
  tests/proposal/test_vote.py
Due: ruff

docs: redefinition of boycott
  docs/specs/proposal-vote.md
Due: mdbook-test

chore: bump dependencies
  poetry.lock
  pyproject.toml
Due: none

docs: update invalid vote definition
  docs/specs/proposal-vote.md
Due: mdbook-test

docs: format boycott definition
  docs/specs/proposal-vote.md
Due: mdbook-test

docs: update vote event
  docs/implementation/events.md
Due: mdbook-test

Path conditions:
  ruff: any of: ^(smart_contracts|tests)/ and \.py$
  mdbook-test: any of: \.(md|markdown|mdown)$
