Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

.pre-commit-config.yaml:

repos:
  # AlgoKit
  - repo: local
    hooks:

      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [ python, pyi ]

      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff check
        language: system
        types: [ python ]
        args: [ --fix ]
        require_serial: false
        additional_dependencies: [ ]
        minimum_pre_commit_version: '0'
        files: '^(smart_contracts|tests)/'

      - id: mypy
        name: mypy
        description: '`mypy` will check Python types for correctness'
        entry: poetry run mypy
        language: system
        types_or: [ python, pyi ]
        require_serial: true
        additional_dependencies: [ ]
        minimum_pre_commit_version: '2.9.2'
        files: '^(smart_contracts|tests)/'

  # Security and Infrastructure as Code scanning
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 3.2.457
    hooks:
      - id: checkov
        name: checkov
        description: "Checkov: Static analysis for infrastructure as code"
        entry: checkov
        language: python
        args: [--framework, dockerfile, --framework, github_actions, --framework, yaml]
        types_or: [yaml, dockerfile]
        files: '^(\\.github/workflows/.*\\.ya?ml|Dockerfile.*|docker-compose.*\\.ya?ml)$'
        require_serial: false
        additional_dependencies: []

#      # Uncomment to enable TEAL static analysis using Tealer package
#      - id: tealer
#        name: tealer
#        description: "Run AlgoKit `Tealer` for TEAL static analysis"
#        entry: algokit
#        language: system
#        args: [project, run, "audit-teal"]
#        require_serial: false
#        additional_dependencies: []
#        minimum_pre_commit_version: "0"
#        files: '^.*\.teal$'

  # Docs
  - repo: local
    hooks:
      - id: mdbook-build
        name: mdbook build
        description: "Builds mdBook."
        entry: mdbook build
        language: rust
        minimum_pre_commit_version: 3.2.0
        additional_dependencies: [ ]
        pass_filenames: false

      - id: mdbook-test
        name: mdbook test
        description: "Checks mdBook pass tests."
        entry: mdbook test
        language: rust
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        entry: markdownlint
        language: node
        minimum_pre_commit_version: 0.15.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs/.*\.md|README\.md|SECURITY\.md)$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: "Trims trailing whitespace."
        entry: trailing-whitespace-fixer
        language: python
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        additional_dependencies: [ ]
        files: '^(docs)/'

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.19.1
    hooks:
    - id: lychee-docker
      name: lychee
      description: "Run 'lychee' docker image for fast, async, stream-based link checking"
      entry: lycheeverse/lychee:0.14
      language: docker_image
      args: ["--no-progress"]
      types: [text]
      pass_filenames: true
      require_serial: true

chore: committee range vars
  smart_contracts/xgov_registry/config.py
Due: ruff

chore: add stale committee error
  smart_contracts/errors/std_errors.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

chore: sp cache timeout to 0
  tests/utils.py
Due: ruff

chore: add committee test ranges
  tests/xgov_registry/common.py
Due: ruff

chore: add committee test ranges
  tests/xgov_registry/conftest.py
Due: ruff

chore: add committee test ranges
  tests/xgov_registry/test_update_xgov_registry.py
Due: ruff

test: stale committee
  tests/xgov_registry/test_open_proposal.py
Due: ruff

docs: add stale committee
  docs/specs/proposal-creation.md
  docs/specs/xgov-committee.md
  docs/specs/xgov-rbac.md
Due: mdbook-test

docs: add missing cashflows
  docs/specs/proposal-escrow.md
  docs/specs/xgov-treasury.md
Due: mdbook-test

Updated docs URL in README
  README.md
Due: mdbook-test

feat: enable xgov address to cast vote in addition to voting address
  smart_contracts/errors/std_errors.py
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: re-build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

test: xgov or voting address cast vote
  tests/xgov_registry/test_vote_proposal.py
Due: ruff

docs: specify sender of vote
  docs/specs/proposal-vote.md
Due: mdbook-test

feat: triggers for beta-ts client workflows
  .github/workflows/xgov-beta-sc-cd.yml
  .github/workflows/xgov-beta-sc-release.yml
Due: none

chore: bump dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: build artifacts
  smart_contracts/artifacts/council/Council.approval.puya.map
  smart_contracts/artifacts/council/Council.approval.teal
  smart_contracts/artifacts/council/Council.arc56.json
  smart_contracts/artifacts/council/Council.clear.puya.map
  smart_contracts/artifacts/council/Council.clear.teal
  smart_contracts/artifacts/council/council_client.py
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/Proposal.clear.puya.map
  smart_contracts/artifacts/proposal/Proposal.clear.teal
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/XGovRegistry.clear.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.clear.teal
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.clear.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.clear.teal
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.puya.map
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.teal
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.arc56.json
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.clear.puya.map
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.clear.teal
  smart_contracts/artifacts/xgov_subscriber_app_mock/x_gov_subscriber_app_mock_client.py
Due: ruff

chore: bump hook versions
  .pre-commit-config.yaml
Due: none

chore: bump base image version
  Dockerfile
Due: none

chore: lint
  docs/COVER.md
  docs/READING-GUIDELINES.md
  docs/implementation/configuration.md
  docs/implementation/numeric-precisions.md
  docs/specs/proposal-submission.md
  docs/specs/proposal.md
  docs/specs/xgov-committee.md
  docs/specs/xgov-rbac.md
  docs/specs/xgov-relation-types.md
  docs/specs/xgovs.md
Due: mdbook-test

chore: bump action version
  .github/actions/docs-ci/action.yaml
Due: none

chore: skip external PR preview; add manual PR preview.
  docs/implementation/ci-cd.md
Due: mdbook-test

chore: skip external PR preview; add manual PR preview.
  .github/workflows/docs-ci.yaml
Due: none

test: refactoring
  tests/proposal/test_block.py
  tests/proposal/test_delete.py
  tests/proposal/test_finalize.py
  tests/proposal/test_open.py
  tests/proposal/test_scrutiny.py
Due: ruff

fix: remove deploy-testnet dependency
  .github/workflows/xgov-beta-sc-cd.yml
Due: none

chore: bump urllib3
  poetry.lock
  pyproject.toml
Due: none

chore: lint
  docs/specs/xgov-committee.md
Due: mdbook-test

chore: use voted proposal as presence buffer
  smart_contracts/common/abi_types.py
Due: ruff

chore: add unsubscribe absentees method
  smart_contracts/interfaces/proposal.py
Due: ruff

feat: rescope unassign voters; add unassign absentees method
  smart_contracts/proposal/contract.py
Due: ruff

chore: define presence buffer
  smart_contracts/xgov_registry/constants.py
Due: ruff

chore: add unsubscribe absentee, unassign absentees from proposal, and op up util
  smart_contracts/interfaces/xgov_registry.py
Due: ruff

chore: remove unused error
  smart_contracts/errors/std_errors.py
Due: ruff

chore: add mock methods to test proposal
  smart_contracts/xgov_registry_mock/contract.py
Due: ruff

feat: unsubscribe absentee; presence buffer; unassign absentee from proposal; op up util
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: presence counts; unassign absentees
  tests/proposal/common.py
Due: ruff
