Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

ruff:
  name: ruff
  description: Run 'ruff' for extremely fast Python linting
  entry: poetry run ruff check
  language: system
  args:
  - --fix
  require_serial: false
  additional_dependencies: []
  minimum_pre_commit_version: '0'

mdbook-test:
  name: mdbook test
  description: Checks mdBook pass tests.
  entry: mdbook test
  language: rust
  minimum_pre_commit_version: 3.2.0
  additional_dependencies: []
  pass_filenames: false

chore: renames
  tests/proposal/test_vote.py
Due: ruff

chore: renames
  tests/proposal/test_scrutiny.py
Due: ruff

chore: check metadata uploaded
  tests/xgov_registry/test_finalize_proposal.py
Due: ruff

chore: check metadata uploaded
  tests/proposal/test_finalize.py
Due: ruff

chore: check metadata uploaded
  tests/xgov_registry/test_drop_proposal.py
Due: ruff

chore: check metadata uploaded
  tests/proposal/test_drop.py
Due: ruff

test: reconfigure with pending proposals
  tests/xgov_registry/test_config_xgov_registry.py
Due: ruff

chore: workflow passes if no change is detected on docs
  .github/workflows/docs-ci.yaml
Due: none

chore: nit
  .github/workflows/docs-ci.yaml
Due: none

chore: re-build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
Due: ruff

chore: job names
  .github/workflows/check-deployments.yaml
  .github/workflows/docs-ci.yaml
  .github/workflows/xgov-beta-sc-ci.yml
Due: none

ci: run docs ci on workflow call even with no diff
  .github/workflows/docs-ci.yaml
Due: none

ci: trigger on workflow call
  .github/workflows/docs-ci.yaml
Due: none

ci: run on workflow call
  .github/workflows/docs-ci.yaml
Due: none

chore: handle concurrency group from workflow call
  .github/workflows/docs-ci.yaml
Due: none

docs: from category-sized to linear quorums
  docs/specs/proposal.md
Due: mdbook-test

docs: from category-sized to linear quorums
  docs/specs/proposal-vote.md
Due: mdbook-test

docs: from category-sized to linear quorums
  docs/implementation/configuration.md
Due: mdbook-test

feat: from category-sized to linear quorums
  smart_contracts/proposal/contract.py
Due: ruff

chore: mark deprecated medium quorum params
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: deprecate medium quorums
  smart_contracts/xgov_registry_mock/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: deprecate medium quorum params
  smart_contracts/xgov_registry/config.py
Due: ruff

chore: deprecate medium quorum params
  .env.localnet.template
  .github/workflows/xgov-beta-sc-cd.yml
Due: none

chore: compute linear quorums
  tests/proposal/common.py
Due: ruff

chore: atomic configuration of registry
  tests/xgov_registry/conftest.py
Due: ruff

fix: typo
  tests/proposal/common.py
Due: ruff

chore: revert change on unused bool
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: add underflow and div-zero comments
  smart_contracts/proposal/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

docs: xgov committee formal definition
  docs/specs/proposal-submission.md
  docs/specs/proposal.md
  docs/specs/xgov-committee.md
Due: mdbook-test

docs: add dedicated proposal escrow section
  docs/SUMMARY.md
Due: mdbook-test

docs: add dedicated proposal escrow section
  docs/specs/proposal.md
Due: mdbook-test

docs: refactor cashflows
  docs/specs/proposal-escrow.md
  docs/specs/xgov-treasury.md
Due: mdbook-test

docs: nit
  docs/specs/proposal-escrow.md
Due: mdbook-test

docs: add proposal quorum example graph
  docs/_excalidraw/proposal-quorum.excalidraw
  docs/_images/proposal-quorum.svg
  docs/specs/proposal.md
Due: mdbook-test

docs: specify the xgov acknowledgements
  docs/specs/xgov-committee.md
  docs/specs/xgovs.md
Due: mdbook-test

docs: link license
  docs/LICENSE.md
Due: mdbook-test

ci: revert mdbook bump
  .github/actions/docs-ci/action.yaml
Due: none

ci: test
  .github/actions/docs-ci/action.yaml
  .github/workflows/docs-cd.yaml
Due: none

Path conditions:
  ruff: any of: ^(smart_contracts|tests)/ and \.py$
  mdbook-test: any of: \.(md|markdown|mdown)$
