Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

ruff:
  name: ruff
  description: Run 'ruff' for extremely fast Python linting
  entry: poetry run ruff check
  language: system
  args:
  - --fix
  require_serial: false
  additional_dependencies: []
  minimum_pre_commit_version: '0'

mdbook-test:
  name: mdbook test
  description: Checks mdBook pass tests.
  entry: mdbook test
  language: rust
  minimum_pre_commit_version: 3.2.0
  additional_dependencies: []
  pass_filenames: false

chore: rename xgov box struct field label
  docs/specs/xgovs.md
  smart_contracts/common/abi_types.py
  smart_contracts/xgov_registry/contract.py
  smart_contracts/xgov_registry_mock/contract.py
  tests/proposal/common.py
  tests/xgov_registry/test_get_xgov_box.py
  tests/xgov_registry/test_vote_proposal.py
Due: ruff, mdbook-test

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

refactor: define subroutine if vote is boycott
  smart_contracts/proposal/contract.py
Due: ruff

chore: rebuild artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: docs lint
  docs/specs/proposal-vote.md
Due: mdbook-test

Revert "docs: add missing cashflows"
  docs/specs/proposal-escrow.md
  docs/specs/xgov-treasury.md
Due: mdbook-test

chore: add committee periods to config
  smart_contracts/common/abi_types.py
  smart_contracts/xgov_registry/config.py
Due: ruff

docs: add committee periods to config
  docs/implementation/configuration.md
Due: mdbook-test

chore: move committee periods to config
  smart_contracts/xgov_registry_mock/contract.py
Due: ruff

chore: move committee periods to config
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: add committee periods to config
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

chore: add committee periods to config
  .github/workflows/xgov-beta-sc-cd.yml
  .github/workflows/xgov-beta-sc-configure-registry.yml
Due: none

chore: move committee periods to config
  smart_contracts/xgov_registry/constants.py
Due: ruff

chore: move committee periods to config
  tests/xgov_registry/conftest.py
Due: ruff

chore: nit
  tests/xgov_registry/common.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: update config
  tests/xgov_registry/test_config_xgov_registry.py
  tests/xgov_registry/test_update_xgov_registry.py
Due: ruff

chore: nit
  smart_contracts/xgov_registry/contract.py
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

chore: remove unreachable error
  smart_contracts/errors/std_errors.py
Due: ruff

chore: remove unreachable error
  smart_contracts/interfaces/proposal.py
  smart_contracts/proposal/contract.py
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: remove unreachable error
  tests/xgov_registry/test_open_proposal.py
Due: ruff

docs: add missing cashflows
  docs/specs/proposal-escrow.md
  docs/specs/xgov-treasury.md
Due: mdbook-test

chore: build no comm teal
  smart_contracts/artifacts/council/Council.approval.teal.nocomm
  smart_contracts/artifacts/council/Council.clear.teal.nocomm
  smart_contracts/artifacts/proposal/Proposal.approval.teal.nocomm
  smart_contracts/artifacts/proposal/Proposal.clear.teal.nocomm
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal.nocomm
  smart_contracts/artifacts/xgov_registry/XGovRegistry.clear.teal.nocomm
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal.nocomm
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.clear.teal.nocomm
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.teal.nocomm
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.clear.teal.nocomm
Due: none

chore: add missing config variables; update tolerance default
  .env.localnet.template
Due: none

chore: update tolerance default
  smart_contracts/xgov_registry/config.py
Due: ruff

fix: config var names
  smart_contracts/xgov_registry/deploy_config.py
Due: ruff

chore: update default tolerance
  .github/workflows/xgov-beta-sc-cd.yml
Due: none

chore: nit
  .github/workflows/xgov-beta-sc-configure-registry.yml
Due: none

chore: update config; disable committee watchdog
  docs/implementation/configuration.md
Due: mdbook-test

chore: upbuild artifacts
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: use native types instead of arc4
  smart_contracts/common/abi_types.py
Due: ruff

chore: use native types instead of arc4; remove subroutine
  smart_contracts/council/contract.py
  smart_contracts/proposal/contract.py
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: use native types instead of arc4
  smart_contracts/xgov_registry_mock/contract.py
  smart_contracts/xgov_subscriber_app_mock/contract.py
Due: ruff

chore: use native types instead of arc4
  smart_contracts/interfaces/proposal.py
  smart_contracts/interfaces/xgov_registry.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/council/Council.approval.puya.map
  smart_contracts/artifacts/council/Council.approval.teal
  smart_contracts/artifacts/council/Council.approval.teal.nocomm
  smart_contracts/artifacts/council/Council.arc56.json
  smart_contracts/artifacts/council/Council.clear.teal.nocomm
  smart_contracts/artifacts/council/council_client.py
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.approval.teal.nocomm
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/Proposal.clear.teal.nocomm
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal.nocomm
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/XGovRegistry.clear.teal.nocomm
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal.nocomm
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.clear.teal.nocomm
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.puya.map
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.teal
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.teal.nocomm
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.arc56.json
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.clear.teal.nocomm
  smart_contracts/artifacts/xgov_subscriber_app_mock/x_gov_subscriber_app_mock_client.py
Due: ruff

Path conditions:
  ruff: any of: ^(smart_contracts|tests)/ and \.py$
  mdbook-test: any of: \.(md|markdown|mdown)$
