Repository algorandfoundation/xgov-beta-sc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdbook-test

ruff:
  name: ruff
  description: Run 'ruff' for extremely fast Python linting
  entry: poetry run ruff check
  language: system
  args:
  - --fix
  require_serial: false
  additional_dependencies: []
  minimum_pre_commit_version: '0'

mdbook-test:
  name: mdbook test
  description: Checks mdBook pass tests.
  entry: mdbook test
  language: rust
  minimum_pre_commit_version: 3.2.0
  additional_dependencies: []
  pass_filenames: false

chore: build artifacts
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.puya.map
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.teal
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.arc56.json
  smart_contracts/artifacts/xgov_subscriber_app_mock/x_gov_subscriber_app_mock_client.py
  smart_contracts/xgov_subscriber_app_mock/contract.py
Due: ruff

chore: nit
  smart_contracts/xgov_subscriber_app_mock/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.approval.teal
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.arc56.json
  smart_contracts/artifacts/xgov_subscriber_app_mock/x_gov_subscriber_app_mock_client.py
Due: ruff

chore: nit
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: less verbose artifacts
  .gitattributes
Due: none

chore: optimize absentees removal
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
Due: ruff

chore: higher tolerated absences
  tests/xgov_registry/conftest.py
Due: ruff

chore: skip unreachable test
  tests/xgov_registry/test_unsubscribe_absentee.py
Due: ruff

chore: test unassign and delete (TODO)
  tests/xgov_registry/test_unassign_absentees_from_proposal.py
Due: ruff

test: unassign and delete
  tests/xgov_registry/test_unassign_absentees_from_proposal.py
Due: ruff

fix: dependabot parsing error
  pyproject.toml
Due: none

chore: move poetry-core to build-system
  pyproject.toml
Due: none

chore: pin exact dependencies
  pyproject.toml
Due: none

chore: bump dependencies; update python version to 3.13
  poetry.lock
  pyproject.toml
Due: none

chore: build artifacts
  smart_contracts/artifacts/council/Council.arc56.json
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_subscriber_app_mock/XGovSubscriberAppMock.arc56.json
Due: none

chore: python 3.13
  .github/actions/algokit-setup/action.yaml
Due: none

chore: rescope xgov box field to unsubscribed round
  smart_contracts/common/abi_types.py
Due: ruff

chore: return request ids
  smart_contracts/interfaces/xgov_registry.py
Due: ruff

feat: mark xgov as unsubscribed instead of deleting xgov box
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: update mock interface and unsubscribe round box field
  smart_contracts/xgov_registry_mock/contract.py
Due: ruff

chore: update error messages
  smart_contracts/errors/std_errors.py
Due: ruff

chore: build artifacts
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.puya.map
  smart_contracts/artifacts/xgov_registry/XGovRegistry.approval.teal
  smart_contracts/artifacts/xgov_registry/XGovRegistry.arc56.json
  smart_contracts/artifacts/xgov_registry/x_gov_registry_client.py
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.puya.map
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.approval.teal
  smart_contracts/artifacts/xgov_registry_mock/XgovRegistryMock.arc56.json
  smart_contracts/artifacts/xgov_registry_mock/xgov_registry_mock_client.py
Due: ruff

chore: increase short grace period to avoid flaky tests
  tests/xgov_registry/common.py
Due: ruff

test: mark xgov as unsubscribed instead of deleting xgov box
  tests/xgov_registry/test_approve_unsubscribe_xgov.py
  tests/xgov_registry/test_get_xgov_box.py
  tests/xgov_registry/test_request_resubscribe_xgov.py
  tests/xgov_registry/test_subscribe_xgov.py
  tests/xgov_registry/test_unassign_absentees_from_proposal.py
  tests/xgov_registry/test_unsubscribe_xgov.py
  tests/xgov_registry/test_vote_proposal.py
Due: ruff

docs: mark xgov as unsubscribed instead of deleting xgov box
  docs/specs/xgov-committee.md
  docs/specs/xgovs.md
Due: mdbook-test

docs: remove unused relation type
  docs/specs/xgov-relation-types.md
Due: mdbook-test

docs: nit
  docs/specs/proposal.md
Due: mdbook-test

docs: fix typo
  docs/specs/xgov-committee.md
Due: mdbook-test

docs: nit
  docs/specs/xgov-committee.md
Due: mdbook-test

docs: nits
  docs/specs/xgov-committee.md
Due: mdbook-test

docs: nit and lint
  docs/specs/xgov-committee.md
Due: mdbook-test

chore: fix args
  tests/xgov_registry/test_request_resubscribe_xgov.py
Due: ruff

fix: validate unassign voter
  smart_contracts/artifacts/proposal/Proposal.approval.puya.map
  smart_contracts/artifacts/proposal/Proposal.approval.teal
  smart_contracts/artifacts/proposal/Proposal.arc56.json
  smart_contracts/artifacts/proposal/proposal_client.py
  smart_contracts/proposal/contract.py
Due: ruff

chore: add convenient subroutine; strict assertions on subscribe-unsubscribe
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: update error label
  tests/xgov_registry/test_unsubscribe_xgov.py
  tests/xgov_registry/test_vote_proposal.py
Due: ruff

chore: typo
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: fix docstrings
  smart_contracts/xgov_registry/contract.py
Due: ruff

chore: optimize error handling
  smart_contracts/xgov_registry/contract.py
Due: ruff

Path conditions:
  ruff: any of: ^(smart_contracts|tests)/ and \.py$
  mdbook-test: any of: \.(md|markdown|mdown)$
